*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-image: url("./images/image.jpg");
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.hour{
    border: 2px solid crimson;
    background-color: aqua;
    padding: 1rem;
}
span{
    padding: 0.1rem;
    font-size: 4rem;
    color: blueviolet;
    font-family: 'Hubballi', cursive;
}