* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: black;
  border-radius: 50px;
  color: white;
  height: 840px;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  height: 250px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.previous-display {
  opacity: 0.5;
  font-size: 30px;
  overflow: hidden;
}

.buttons-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 45px;
  height: 100px;
  width: 100px;
  transition: filter 0.3s;
}

.button.function {
  color: black;
  background: #a5a5a5;
}

.button.operator {
  background: #f1a33c;
}

.equal {
  background: #f1a33c;
}


.button.number-0 {
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 43px;
  width: 215px;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.button:hover {
  opacity: 0.5;
}
